* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

main {
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-background-section {
    width: 412px;
    height: 825px;
    position: relative;
    overflow: hidden;
    background-color: #697DB8;
    display: flex;
    flex-direction: column;
}

.notification-background-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #36B7C0;
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 30% 100%);
    z-index: 0;
}

.notification-background-section > .navbar {
    position: relative;
    z-index: 10;
}

.notification-background-section > .footer {
    margin-top: auto;
    position: relative;
    z-index: 10;
}

.notification-frame {
    align-self: center;
    background-color: black;
    border-radius: 30px;
    margin: 30px;
    padding: 10px;
    width: 362px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: relative;
    z-index: 10;
}

.notification-item {
    width: 320px;
    margin: 10px;
    position: relative;
}
 
.notification-card {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon {
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: #97D3D9;
    border-radius: 50%;
    object-fit: contain;
    position: absolute;
    top: -10px;
    left: -10px;
}

.notification-description {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    padding: 10px;
}