* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

main {
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-background-section {
    width: 412px;
    height: 825px;
    position: relative;
    overflow: hidden;
    background-color: #56b06a;
    display: flex;
    flex-direction: column;
}

.profile-background-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #b7cd31;
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 30% 100%);
    z-index: 0;
}

.profile-background-section > .navbar {
    position: relative;
    z-index: 10;
}

.profile-background-section > .footer {
    margin-top: auto;
    position: relative;
    z-index: 10;
}
    